:root {
  /* TEXT */
  --primary-color: #339af0;
  --secondary-color: #4dabf7;
  --text-color: #e9ecef;
  --text-color-secondary: #ced4da;
  --text-color-dark: #b7b7b7;
  /* BACKGROUND */
  --bg-primary-color: #212529;
  --bg-secondary-color: #343a40;
  /* GRADIENTS */
  /* --gradient-bg: linear-gradient(to top, #212529, #212529); */
  --gradient-primary: linear-gradient(to right, #339af0, #4dabf7);
  /* PROJECTS */
  --digitalgalaxy-color: #1c7ed6;
  --digitalgalaxy-color-hover: #1971c2;
  --triptracker-color: #40c057;
  --triptracker-color-hover: #37b24d;
  --budgetmaster-color: #748ffc;
  --budgetmaster-color-hover: #5c7cfa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
  line-height: 1;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--bg-primary-color);
}

*:focus {
  outline: 2px solid var(--text-color-dark) !important;
  outline-offset: 0.5rem !important;
  /* filter: none !important; */
  /* color: var(--primary-color); */
  /* box-shadow: 0 0 0 0.2rem var(--primary-color); */
}

header {
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}

footer {
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-secondary-color);
}

h3 {
  font-size: 2.4rem;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 2rem;
}

h5 {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  line-height: 2.6rem;
  font-size: 1.6rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 8rem 10rem 0;
  margin: 0 10rem;
  /* background-color: white; */
}

.container h2 {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 200;
}

.container h3 {
  font-size: 6.4rem;
  font-weight: 500;
}

body {
  scroll-behavior: smooth;
}
