@media (max-width: 1900px) {
  .hero {
    padding: 2rem 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }

  .hero-img-container img {
    z-index: -1;
    max-width: 42rem;
  }
}

@media (max-width: 1700px) {
  .container {
    padding: 8rem 10rem 0;
    margin: 0 4rem;
    /* background-color: white; */
  }
  .languages {
    padding-bottom: 8rem;
  }
}

@media (max-width: 1600px) {
  .project-img-box::before {
    transform: translate(10%, 0%);
  }
}

/* Nav responsive + hero img */
@media (max-width: 1480px) {
  .hero-img-container img {
    width: 38rem;
  }

  .hero {
    padding: 0rem 5rem 0;
  }

  .hero-h1 {
    font-size: 10rem;
  }
  .hero-h2 {
    font-size: 5rem;
  }

  .hero-h3 {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  /* Hello World center */
  /* .hero {
    padding: 6rem 6rem 0 6rem;
  } */

  .hero-h1 {
    text-align: center;
  }
  .container {
    padding: 6rem 6rem 0;
    margin: 0 1rem;
    /* background-color: white; */
  }
  .languages {
    padding-bottom: 6rem;
  }
}

@media (max-width: 1250px) {
  .education-box h3 {
    font-size: 3.8rem;
  }
  /* .education-box-text-sub h4 {
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
  }
  .education-box-text-sub h5 {
    font-size: 2rem;
  } */
  .education-box img {
    width: 20rem;
  }

  /* LANGUAGES */
  .flag-img {
    width: 18rem;
    height: 9rem;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 5rem 5rem 0;
    margin: 0 1rem;
    /* background-color: white; */
  }
  .languages {
    padding-bottom: 4rem;
  }

  .skills {
    padding: 3rem 4rem;
  }

  .skills-ul img {
    height: 5rem;
  }

  .skills-ul {
    letter-spacing: 0.6rem;
    font-size: 0.8rem;
  }

  .projects-list-grid p,
  .projects-list-grid {
    /* font-size: 1.4rem; */
    font-weight: 300;
    text-justify: inter-word;
  }

  .contact-container {
    grid-template-columns: repeat(2, auto);
    row-gap: 3rem;
  }

  .phone {
    grid-row: 2 / 3;
  }
}

/* MOBILE MENU */
@media (max-width: 1150px) {
  .main-nav {
    background-color: var(--bg-primary-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation visually */
    opacity: 0;

    /* Hide navigation for screen readers */
    visibility: hidden;

    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  .nav-open .icon-close {
    display: block;
  }

  .nav-open .icon-menu {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    font-size: 3rem;
    gap: 8rem;
    text-align: center;
  }

  .projects-list-grid p,
  .projects-list-grid {
    /* font-size: 1.3rem; */
    font-weight: 300;
    text-justify: inter-word;
  }
  /* .hero {
    padding: 0 3rem;
  } */
  .hero-h1 {
    font-size: 8rem;
  }
}

@media (max-width: 1050px) {
  .projects-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 8rem;
  }

  .project-img-box::before {
    width: 50%;
    padding-bottom: 50%;
  }

  .project-circle-scale::before {
    transform: scale(1.1);
  }

  .hero-h1 {
    font-size: 7rem;
  }
}

@media (max-width: 1000px) {
  header {
    padding: 2rem 3rem;
  }

  .hero-img-container img {
    width: 30rem;
  }

  .hero-text {
    gap: 2rem;
  }

  .hero {
    padding: 0 3rem;
  }

  .hero-h2 {
    font-size: 4rem;
  }

  .hero-h3 {
    font-size: 1rem;
    letter-spacing: 1rem;
  }

  .skills {
    padding: 3rem 2rem;
  }

  .skills-ul img {
    height: 4.5rem;
  }

  .skills-ul {
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
  }

  .hero-text {
    gap: 2.4rem;
  }

  /* EDUCATION */
  .education-box {
    display: block;
  }

  /* EXPERIENCE */
  .timeline ul li h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    /* font-weight: 300; */
  }

  .timeline ul li h4 {
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
  }

  /* LANGUAGES */
  .languages-box {
    gap: 2rem;
  }

  .flag-img {
    height: 8rem;
    width: 16rem;
  }

  .certificate-img {
    height: 8rem;
  }

  .language h5 {
    font-size: 2rem;
    font-weight: 300;
  }

  .contact-container {
    /* gap: 4rem; */
  }
}

@media (max-width: 900px) {
  .hero-h1 {
    font-size: 6rem;
  }
  .hero-h2 {
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
  }

  .hero-h3 {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }

  .skills-ul img {
    height: 3.6rem;
  }

  .skills-ul {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 850px) {
  .education-box {
    text-align: center;
  }
  .education-box-flex {
    flex-direction: column;
  }
  .education-box h3 {
    text-align: center;
  }
  .education-box-text-sub h4 {
    font-size: 2rem;
    letter-spacing: 0.4rem;
  }
  .education-box-text-sub h5 {
    font-size: 2.6rem;
  }

  /* .education-box h3 {
    font-size: 3.4rem;
  }
  .education-box-text-sub h4 {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
  }
  .education-box-text-sub h5 {
    font-size: 1.6rem;
  }
  .education-box img {
    width: 26rem;
  } */
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    padding: 3rem 3rem 0;
  }

  .hero-h1 {
    font-size: 5rem;
  }
  .hero-h2 {
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
  }

  .hero-h3 {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }

  .hero-img-container img {
    z-index: -1;
    max-width: 24rem;
  }

  /* LANGUAGES */
  .languages-box {
    grid-template-columns: 1fr;
  }

  .languages-box {
    gap: 2rem;
  }

  .language {
    row-gap: 2.4rem;
  }

  .language:hover {
    transform: none;
  }

  .color-language {
    filter: none;
  }

  .flag-img {
    /* transition: all ease 600ms;
    filter: grayscale(80%); */
    height: 12rem;
    width: 24rem;
  }

  .language h3 {
    text-transform: uppercase;
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
  }

  .language h5 {
    font-size: 3rem;
    font-weight: 300;
  }

  .certificate-img {
    height: 8rem;
  }

  footer {
    flex-direction: column;
    align-items: start;
    gap: 4rem;
  }

  .contact-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  footer .contact-links,
  footer .social-links {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 5rem 3rem 0;
    margin: 0 1rem;
    /* background-color: white; */
  }

  /* LANGUAGES */
  .languages {
    padding-bottom: 4rem;
  }

  /* SKILLS */
  .skills-ul img {
    height: 2.2rem;
  }

  .skills-ul {
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
  }

  .skills-ul li {
    gap: 1.2rem;
  }

  /* PROJECTS */
  .container h3 {
    font-size: 3.4rem;
  }

  .projects-list-grid h5 {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  }

  /* EXPERIENCE */
  .timeline-active {
    background-color: var(--bg-secondary-color);
    border-radius: 1rem;
  }

  .timeline-active:before {
    background-color: var(--primary-color) !important;
    box-shadow: 0px 0px 10px 2px var(--primary-color);
  }

  .timeline ul li h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    /* font-weight: 300; */
  }

  .timeline ul li h4 {
    font-size: 2rem;
    letter-spacing: 0.4rem;
  }

  /* LANGUAGES */
  .flag-img {
    /* transition: all ease 600ms; */
    /* filter: grayscale(80%); */
    height: 8rem;
    width: 16rem;
  }

  .languages-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 5rem 1rem 0;
    margin: 0 1rem;
    /* background-color: white; */
  }

  .languages {
    padding-bottom: 2rem;
  }

  /* SKILLS */
  .skills-ul img {
    height: 2rem;
  }

  .skills-ul {
    letter-spacing: 0.05rem;
    font-size: 0.2rem;
  }

  .skills-ul li {
    gap: 0.8rem;
  }

  /* PROJECTS */
  .container h3 {
    font-size: 3rem;
  }

  /* .projects-list-grid h5 {
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  } */
}

@media (max-width: 300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .timeline ul li .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}
