/* ============================== */
/* HEADER + FOOTER PARTS */
/* ============================== */

header {
  font-size: 1.4rem;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

.a-text,
.main-nav-list a {
  display: inline-block;
  position: relative;
}

.a-text::after,
.main-nav-list a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -6px;
  left: 0;
  transform: scaleX(0);
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.a-text:hover::after,
.main-nav-list a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.a-text:hover svg,
.a-text:hover,
.main-nav-list a:hover {
  color: var(--primary-color);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact-container {
  display: flex;
  gap: 6rem;
  align-items: center;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.contact-icon {
  color: var(--text-color);
  width: 2.4rem;
  height: 2.4rem;
}

.social-logo {
  height: 3rem;
  filter: grayscale(100%);
  transition: all ease 300ms;
}

.social-logo:hover {
  filter: none;
}

/* ============================== */
/* HERO */
/* ============================== */

.hero {
  padding: 10rem 8rem 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.hero-text:hover h1 {
  transform: scale(1.05);
}

.hero-h1 {
  font-size: 12rem;
  font-weight: 900;
  letter-spacing: -0.3rem;
  background: -webkit-linear-gradient(#1c7ed6, #4dabf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease 600ms;
  animation: 2s ease-in-out 0s 1 grow;
}

.hero-h2 {
  font-size: 7rem;
  /* font-family: "Dancing Script"; */
  font-family: "Pacifico";
  font-weight: 400;
  letter-spacing: 0.8rem;
}

.hero-h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.6rem;
  color: var(--text-color-secondary);

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--text-color-secondary); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color-secondary);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translate(15%, -50%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes grow {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.hero-img-container {
  display: flex;
  justify-content: center;
  position: relative;
  /* z-index: 999; */
}

.hero-img-container img {
  animation: 3s ease-in-out 0s 1 slideInFromRight;
}

.hero-img-container:hover::before {
  transform: scale(1.1) translate(5%, -50%);
  /* overflow: hidden; */
}

.hero-img-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 50rem;
  height: 50rem;
  top: 50%;
  transform: translate(15%, -50%);
  border-radius: 100%;
  background-image: var(--gradient-primary);
  z-index: -2;
  transition: all ease 600ms;
  animation: 3s ease-out 0s 1 slideInFromLeft;
}

/* .hero-img-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 50%;
  transform: translate(0%, -40%);
  border-radius: 100%;
  background-image: var(--gradient-primary);
  z-index: -2;
} */

.hero-img-container img {
  max-width: 50rem;
}

/* ============================== */
/* SKILLS */
/* ============================== */

.skills {
  padding: 3rem 6rem;
  background-color: var(--bg-secondary-color);
  z-index: 999;
}

.skills-ul {
  display: flex;
  justify-content: space-around;
}

.skills-ul img {
  height: 6rem;
  transition: all ease 600ms;

  /* filter: brightness(0); */
  /* opacity: 50%; */
}

.skills-ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.skills-ul li:hover img {
  transform: scale(1.2);
}

.skills-ul {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-size: 1rem;
  color: var(--text-color-dark);
}

/* ============================== */
/* PROJECTS */
/* ============================== */

.project {
  display: flex;
  justify-content: space-between;
}

.projects-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 10rem;
  column-gap: 2rem;
  /* max-width: 100rem; */
}

.project-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 30px; */
}

.project-img img {
  width: 100%;
}

.project-img {
  position: relative;
}

.project-img::before {
  content: "";
  display: block;
  position: absolute;
  width: 60rem;
  height: 60rem;
  top: 50%;
  transform: translate(15%, -50%);
  border-radius: 100%;
  z-index: -2;
}

.project h4 {
  color: var(--text-color-secondary);
}

.project h5 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  font-size: 1.2rem;
  color: var(--text-color-secondary);
}

.project p,
.project li {
  font-size: 1.6rem;
  font-weight: 300;
  text-justify: inter-word;
}

.project span {
  font-weight: 800;
}

/* .project .text-flex { */
.text-flex {
  display: flex;
  flex-direction: column;
}

.project .text-flex {
  gap: 1.4rem;
}

.list-flex {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.project-action {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.link,
.link:visited {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.link-digitalgalaxy {
  background-color: var(--digitalgalaxy-color);
  color: var(--text-color);
}

.link-digitalgalaxy:active,
.link-digitalgalaxy:hover {
  background-color: var(--digitalgalaxy-color-hover);
}

.link-triptracker {
  background-color: var(--triptracker-color);
  color: var(--bg-secondary-color);
}

.link-triptracker:active,
.link-triptracker:hover {
  background-color: var(--triptracker-color-hover);
}

.link-budgetmaster {
  background-color: var(--budgetmaster-color);
  color: var(--bg-secondary-color);
}

.link-budgetmaster:active,
.link-budgetmaster:hover {
  background-color: var(--budgetmaster-color-hover);
}

.github-logo {
  width: 3rem;
  filter: grayscale(100%);
}

.project-img-digitalgalaxy::before {
  background-color: var(--digitalgalaxy-color);
}

.project-img-triptracker::before {
  background-color: var(--triptracker-color);
}

.project-img-budgetmaster::before {
  background-color: var(--budgetmaster-color);
}

.digitalgalaxy {
  color: var(--digitalgalaxy-color);
}

.triptracker {
  color: var(--triptracker-color);
}

.budgetmaster {
  color: var(--budgetmaster-color);
}

.technologies-logos-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.technologies-logos-list li img {
  width: 2rem;
}

/* ============================== */
/* EDUCATION */
/* ============================== */

.education-box {
  padding: 4rem 5rem;
  /* background-color: var(--bg-secondary-color); */
  border-radius: 2rem;
  color: var(--text-color-dark);
  display: flex;
  gap: 4rem;
  transition: all ease 600ms;
  background-color: var(--bg-secondary-color);
}

.education-box img {
  width: 30rem;
  transition: all ease 600ms;
}

.education-box:hover {
  background-color: var(--bg-secondary-color);
}

.education-box:hover img {
  transform: rotate(5deg);
}

/* .education-box:hover h3 {
  color: var(--primary-color);
} */

.education-box h3 {
  color: var(--text-color-secondary);
  /* text-transform: uppercase; */
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 1.6rem;
  text-decoration-thickness: 1px;
  transition: all ease 600ms;
}

.education-box-text {
  gap: 4rem;
}

.education-box-text-sub {
  gap: 1rem;
}

.education-box-text-sub h4 {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  /* color: var(--primary-color); */
}
.education-box-text-sub h5 {
  font-size: 2.4rem;
}

/* ============================== */
/* EXPERIENCE */
/* ============================== */

.timeline {
  padding: 30px 20px;
  width: 80%;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid var(--text-color-dark);
  padding: 1rem 0.5rem;
}
.timeline ul li {
  padding: 2.5rem 2rem;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.timeline ul li h3 {
  font-size: 2.4rem;
  /* font-weight: 300; */
}

.timeline ul li h4 {
  color: var(--text-color-dark);
  font-size: 2.6rem;
  padding-top: 5px;
}

.timeline ul li h5 {
  display: inline-block;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: var(--text-color-dark);
}

.timeline ul li .content p {
  padding: 5px 0px 5px 0px;
}

.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--text-color-dark);
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}
.timeline ul li:hover {
  background-color: var(--bg-secondary-color);
  border-radius: 1rem;
}

.timeline ul li:hover h4 {
  color: var(--primary-color);
}

.timeline ul li:hover:before {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px 2px var(--primary-color);
}

.timeline .flex-col {
  gap: 0.6rem;
}

/* ============================== */
/* LANGUAGES */
/* ============================== */

.languages {
  margin-bottom: 10rem;
}

.languages-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.language {
  background-color: var(--bg-secondary-color);
  border-radius: 2rem;
  padding: 10rem 2rem 4rem;
  text-align: center;
  align-items: center;
  gap: 2.6rem;
  transition: all ease 600ms;
}

.language h3 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.language h4 {
  text-transform: uppercase;
  color: var(--text-color-dark);
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.certificate {
  gap: 1.6rem;
}

.language h5 {
  font-size: 2.6rem;
  font-weight: 300;
}

.language h6 {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

.language:hover {
  transform: translate(0, -10px);
}

.language img {
  transition: all ease 600ms;
  filter: grayscale(80%);
}

.language:hover img {
  filter: none;
}

.language img {
  width: 20rem;
  height: 10rem;
}

.certificate-img {
  height: 10rem;
}

.certificate-img img {
  width: 100%;
}

.polish-language {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================== */
/* FOOTER */
/* ============================== */

footer h3 {
  font-size: 2rem;
  font-weight: 300;
}
